body{
  font-family: 'Cutive Mono', monospace;
  color: #35afce;
  background-color: #e0e4e5;
}
.logo {  width: 101px;
}

.londonone {
  width: 100%;
}

.top-buffer {
  margin-top:20px;
}

.figure-caption, .btn-default{
    color:#35afce;

}
